# Build directory
build/

# VS Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
